<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a41162c59d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/formularios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>mercado_liebre</title>
</head>


<body>
    <header>
        <div class="header-logo-barra-frase">
            <div class="header-logo-barra">
                <img class="logo-header" src="/img/logo-mercado-liebre.svg" alt="Logo mercado liebre">

                <div class="header-buscador">
                    <div class="barra-de-busqueda">
                        <input id="buscador" type="search" placeholder="Buscar producto, marcas"> 
                    </div>
                    <i  class="fas fa-search"></i>
                </div>
            </div>

            <div class="nav-frase">  
                <p><i class="mano-nav fas fa-hand-holding-usd" ></i>Comprá en cuotas y sin tarjeta de credito</p>
            </div>
        </div> 

        <nav class="links">
            <ul class="nav-opciones">
                <li><a href="/">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>  

            <ul class="nav-cuenta">
                <li><a href="./register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="./login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <section class="burger-menu">
            <i class="icono-burger fas fa-bars"></i>
        </section>
    </header>
    
    <div class="banner"><img src="/img/img-home-banner.jpg" alt="banner"></div>

    <main>
        <div class="main">
            <form action="/" class="form-containpmner">
                <div>
                  <label for="">
                    <input
                      type="text"
                      name="username"
                      placeholder="Nombre de Usuario"
                      class="input-text"
                    />
                  </label>
                </div>
                <div>
                  <input
                    type="password"
                    placeholder="Ingrese su contraseña"
                    class="input-password"
                   />
                </div>
                <div>
                  <button type="submit">ENVIAR</button>
                </div>
            </form>
        </div>
    </main>
    
    <footer class="footer-login">
        <div class="footer-sin-copy">
            <div>
                <i class="fas fa-credit-card icon-hover"></i>
                <h3>Pagá con tarjeta o en efectivo</h3> 
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift icon-hover"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield icon-hover"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <div class="copyright">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
</body>


</html>